<%= form_tag load_link_path, :remote => true, :id => 'create_link_form' do %>
<fieldset> 
    <%= url_field_tag(:url) %>
    <div class="validation-error"></div>
    <%= submit_tag '加载链接' %>
</fieldset>
<% end %>

<%= simple_form_for @bookmark, :html => {:id => 'bookmark_form'} do |f| %>
  <%= f.input :title %>
  <%= f.input :url, :as => :hidden %>
  <%= f.input :body %>

  <%= f.input :published_at %>
  <%= f.input :tag_list %>
  <%= f.button :submit, :class=>'btn btn-primary' %>
<% end %>
