<div class='span-left'>
<%= simple_form_for @post do |f| %>
	<%= render 'error_messages', :object => f.object %>
  <%= f.input :title %>
  
  <div class='wmd-panel'>
    <div id='wmd-button-bar'></div>
    <%= f.input :body, :label => false, :input_html => {class: 'wmd-input', id: 'wmd-input'} %>
  </div>
  <%= render 'preview' %>

  <%= f.input :published_at, :as => :ui_date_picker %>
  <%= f.input :tag_list %>
  <%= f.button :submit, :class=>'btn btn-primary' %>
<% end %>
</div>

<script>
  (function () {
    var converter = Markdown.getSanitizingConverter();
    var editor = new Markdown.Editor(converter);
    editor.run();
  })();
</script>