
<% content_for(:title) do -%>
  <%= "Sharp说 - #{@post.title}" %>
<% end -%>

<h2><%= @post.title -%></h2>
<%= render "posts/meta", :post => @post %>

<div class="entrybody markedit-preview toggle-preview">
	本文来源于<%= link_to "Sharp说", "http://sharp.bz" %> 请勿转载
  <%= auto_link raw(@post.body_html) %>
	本文来源于<%= link_to "Sharp说", "http://sharp.bz" %> 请勿转载
</div>
<br />
<div class='row'>
	<!-- JiaThis Button BEGIN -->
	<div class="jiathis_style">
		<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt" target="_blank"><img src="http://v3.jiathis.com/code/images/btn/v1/jiathis1.gif" border="0" /></a>
		<a class="jiathis_counter_style_margin:3px 0 0 2px"></a>
	</div>
	<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1334582440841702" charset="utf-8"></script>
	<!-- JiaThis Button END -->	
</div>

<br /><br />
<h3>发表评论</h3>
<%= simple_form_for [@post, @comment], :html => {:class=>'form-horizontal'}  do |f| %>
<%= render 'posts/error_messages', :object => f.object %>
<%= f.input 'author', :label => '昵称' %>
<%= f.input 'body', :label => '内容' %>
<div class="control-group text required">
  <label for="comment_body" class="text required control-label"><abbr title="required">*</abbr> 验证码</label>
  <div class='controls'>
    <%= show_simple_captcha %>
  </div>
</div>

<div class='form-actions'>
  <%= f.submit "添加评论", :class=>'btn btn-primary', :label => '' %>
</div>
<% end -%>

