<% content_for(:title) do -%>
  <%= "#{Settings.site_name} - #{@post.title}" %>
<% end -%>

<div class='span-left'>
  <h3><%= @post.title -%></h3>
  <%= render "posts/meta", :post => @post %>

  <div class="content markedit-preview toggle-preview">
    <%= raw markdown(@post.body) %>
    <br /><br />
	  <div class='span'>本文来源于<%= link_to "Sharp说", "http://sharp.bz" %> 转载请注明地址 </div>
    <div class='span pull-right clearfix'>
	    <%= render 'layouts/share' %>
    </div>
  </div>
</div>

<div class="span-right">
  <%= render 'tags' %>
</div>


