<div class='container'>
  <h4>
    <%= link_to raw(Settings.site_name), root_path, :class => 'brand' %>
  </h4>
  <ul class="nav">
    <li><%= link_to "博文", posts_path  %></li>
    <li><%= link_to "书签", bookmarks_path  %></li>
    <li><%= link_to "评论", comments_path  %></li>
  </ul>
	
  <div class='pull-right'>
    <% if current_user %>
      <% if current_user.github_username == 'SharpV'%>
        <%= link_to '创建文章', new_post_path, :class => 'btn' %>
        <%= link_to '创建书签', new_bookmark_path, :class=> 'btn' %>
      <% else %>
        <%= link_to current_user.github_username, current_user.site_url %>
      <% end %>
    <% else %>
      <%= link_to raw("Sign in with <b>GitHub</b>"), user_omniauth_authorize_path(:github), :class => 'btn-auth btn-github' %>
    <% end %>
  </div>
</div>
